# Server Configuration
PORT=5000

# Database Configuration (MongoDB Atlas Recommended)
# Example: mongodb+srv://<username>:<password>@cluster0.mongodb.net/educred
MONGO_URI=mongodb://localhost:27017/educred

# Blockchain Configuration (For Step 6 onwards)
# RPC_URL=http://localhost:8545
# CONTRACT_ADDRESS=
# PRIVATE_KEY=
